---
import photo1 from '@/assets/images/news_type_three/news-type-three-photo-1.jpg'
import photo2 from '@/assets/images/news_type_three/news-type-three-photo-2.jpg'
---

<section class="news-type-three-info-section">
    <div class="news-type-three-info-container">
        <div class="info-grid">
            <div class="info-text">
                <p>Встречайте 2026 год на грандиозном праздничном ужине c выступлением настоящих легенд, многократных обладателей Грэмми, исполнителей всемирно известных хитов!</p>
            </div>

            <div class="info-image">
                <img src={photo1.src} alt="Концерт Maroon 5" loading="lazy" decoding="async" />
            </div>

            <div class="info-image">
                <img src={photo2.src} alt="Новогоднее празднование" loading="lazy" decoding="async" />
            </div>

            <div class="info-text">
                <p>Гостей ждёт открытая площадка с видом на Пальму Джумейра и небоскрёбы Дубая, живая музыка и оркестр. Дресс-код — black tie, атмосфера — настоящая зимняя сказка. Роскошный ужин с изысканными деликатесами — чёрной икрой, белым трюфелем и премиальным шампанским — станет настоящим украшением новогодней ночи.</p>
                <p>Слушайте вживую Moves Like Jagger, She Will Be Loved и This Love под аккомпанемент новогодних фейерверков! Вы можете выбрать различные категории новогоднего ужина под открытым небом: «Premium» (Премиум), «Красный круг» или «Золотой круг»:</p>
            </div>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .news-type-three-info-section {
        @include adaptive(margin-top, 100, 50);

        .news-type-three-info-container {
            @include side-paddings;
            width: 100%;
        }

        .info-grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include adaptive(gap, 53, 20);

            @include mobile {
                flex-direction: column;
            }
        }

        .info-text {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 30, 20);
            width: 33%;
            margin-right: auto;

            p {
                @include font-circe-light;
                color: $color-alternate;
                @include adaptive(font-size, 26, 18);
                line-height: 1.2;
                margin: 0;
            }
        }

        .info-image {
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            @include desktop {
                max-width: 57.8%;
            }
        }
    }
</style>
