---
import { Image } from 'astro:assets'
import InfoGrid from '@/components/common/InfoGrid.astro'
import photo1 from '@/assets/images/news_type_three/news-type-three-photo-1.jpg'
import photo2 from '@/assets/images/news_type_three/news-type-three-photo-2.jpg'
---

<InfoGrid>
    <div class="info-grid-row">
        <div class="info-text">
            <p>Встречайте 2026 год на грандиозном праздничном ужине c выступлением настоящих легенд, многократных обладателей Грэмми, исполнителей всемирно известных хитов!</p>
        </div>

        <div class="info-image">
            <Image src={photo1} alt="Концерт Maroon 5" />
        </div>
    </div>
    <div class="info-grid-row">
        <div class="info-image">
            <Image src={photo2} alt="Новогоднее празднование" />
        </div>

        <div class="info-text">
            <p>Гостей ждёт открытая площадка с видом на Пальму Джумейра и небоскрёбы Дубая, живая музыка и оркестр. Дресс-код — black tie, атмосфера — настоящая зимняя сказка. Роскошный ужин с изысканными деликатесами — чёрной икрой, белым трюфелем и премиальным шампанским — станет настоящим украшением новогодней ночи.</p>
            <p>Слушайте вживую Moves Like Jagger, She Will Be Loved и This Love под аккомпанемент новогодних фейерверков! Вы можете выбрать различные категории новогоднего ужина под открытым небом: «Premium» (Премиум), «Красный круг» или «Золотой круг»:</p>
        </div>
    </div>
</InfoGrid>
