---
import Layout from '@/layouts/Layout.astro'
import HeroNav from '@/components/HeroNav.astro'
import BestHotels from '@/components/best_hotels/BestHotels.astro'
import ContactCTA from '@/components/ContactCTA.astro'

import heroDesktop from '@/assets/images/best_hotels/hero-1.jpg'
import heroMobile from '@/assets/images/best_hotels/hero-1-mobile.jpg'
---

<Layout title="Лучшие отели мира - Глобус Тур">
    <section class="hero-section best-hotels-hero">
        <picture class="hero-bg _overlay-double-gradient">
            <source media="(max-width: 480px)" srcset={heroMobile.src} />
            <img src={heroDesktop.src} alt="" loading="eager" decoding="async" />
        </picture>

        <HeroNav items={[{ label: 'Главная' }, { label: 'Лучшие отели мира' }]} />

        <div class="hero-content">
            <h1 class="hero-title">лучшие</h1>
            <h1 class="hero-title">отели</h1>
            <h1 class="hero-title">мира</h1>
            <p class="hero-subtitle">Искусство открывать мир<br />начинается с идеального отеля</p>
        </div>
    </section>

    <BestHotels />

    <ContactCTA title="Мы с удовольствием расскажем вам<br />о туре подробнее, вы можете:" />
</Layout>

<style lang="scss" is:global>
    .best-hotels-hero {
        @include adaptive(height, 964, 894);
        @include adaptive(padding-top, 608, 370);

        .hero-content {
            position: relative;
            z-index: 2;
            @include side-paddings;
            flex-wrap: wrap;
            flex-direction: row;
            flex: 0;
        }

        .hero-title {
            @include adaptive(padding-right, 60, 12);

            @include desktop {
                line-height: 1.1;

                &:nth-child(2) {
                    width: 60%;
                }
                &:nth-child(3) {
                    @include adaptive(padding-left, 456, 30);
                }
            }

            @include mobile {
                line-height: 1.2;
            }
        }

        .hero-subtitle {
            @include font-circe-regular;
            font-weight: 300;
            @include adaptive(font-size, 32, 18);
            line-height: 1.2;
            color: $color-main;
            @include adaptive(padding-top, 36, 16);

            @include desktop {
                @include adaptive(padding-left, 20, 20);
            }
        }
    }
</style>
