---
import { Image } from 'astro:assets'
import InfoGrid from '@/components/common/InfoGrid.astro'
import photo1 from '@/assets/images/mice/business-tourism-photo-1.jpg'
import photo2 from '@/assets/images/mice/business-tourism-photo-2.jpg'
---

<InfoGrid>
    <div class="info-grid-row">
        <div class="info-text">
            <p>Компания «Глобус-тур» — эксперт в организации делового туризма. Мы берём на себя все заботы по планированию вашего мероприятия, чтобы вы могли сосредоточиться на главном — на своих бизнес-целях и впечатлениях команды. В 2022 году нашу работу отметили наградой Best MICE Project, и мы продолжаем создавать события, которые запоминаются надолго.</p>
        </div>

        <div class="info-image">
            <Image src={photo1} alt="Деловое мероприятие" />
        </div>
    </div>
    <div class="info-grid-row">
        <div class="info-image">
            <Image src={photo2} alt="Деловой туризм" />
        </div>

        <div class="info-text">
            <p>Мы понимаем, что деловой туризм — это не просто поездки, а инструмент развития бизнеса. Поэтому мы предлагаем комплекс решений, адаптированных под ваши задачи.</p>
        </div>
    </div>
</InfoGrid>
