---
import BulletGrid from '../common/BulletGrid.astro'

const services = {
    general: [
        'Лечение и диагностика',
        'Номера со звукоизоляцией',
        'Ускоренная регистрация заезда и выезда',
        'Терраса',
        'Мультиязычный персонал',
        'Стойка регистрации',
    ],
    pool: ['Бассейн', 'Открытый бассейн', 'Частный пляж', 'Рядом с пляжем'],
    rooms: [
        'Обслуживание номеров',
        'Кабельное телевидение',
        'Телевизор',
        'Мини-бар',
        'Душ',
        'Халат',
        'Тапочки',
        'Сейф (в номере)',
    ],
    internet: ['Wi-Fi'],
    kids: [
        'Услуги няни и уход за детьми',
        'Детский бассейн',
        'Размещение подходит для семей/детей',
        'Детский клуб',
    ],
    sport: ['Дайвинг', 'Фитнес-центр', 'Тренажерный зал'],
    amenities: [
        'Гладильные принадлежности',
        'Камера хранения',
        'Прачечная',
        'Сейф',
        'Химчистка',
        'Хранение багажа',
        'Телефон',
        'Утюг',
    ],
    dining: ['Бар', 'Завтрак', 'Кафе', 'Ресторан', 'Бар у бассейна'],
    beauty: ['Массаж', 'Салон красоты', 'Спа-центр'],
    entertainment: ['Рыбалка'],
    business: ['Бизнес-центр'],
}

const serviceCategories = [
    { title: 'Общее', items: services.general },
    { title: 'Бассейн<br />и пляж', items: services.pool },
    { title: 'В номерах', items: services.rooms },
    { title: 'Интернет', items: services.internet },
    { title: 'Дети', items: services.kids },
    { title: 'Спорт', items: services.sport },
    { title: 'Услуги<br />и удобства', items: services.amenities },
    { title: 'Питание', items: services.dining },
    { title: 'Красота<br />и здоровье', items: services.beauty },
    { title: 'Развлечение', items: services.entertainment },
    { title: 'Бизнес', items: services.business },
]

const splitIndex = Math.ceil(serviceCategories.length / 2)
const firstColumnCategories = serviceCategories.slice(0, splitIndex)
const secondColumnCategories = serviceCategories.slice(splitIndex)
---

<section class="hotel-services">
    <div class="section-container">
        <h2>Услуги в отеле</h2>

        <BulletGrid firstColumn={firstColumnCategories} secondColumn={secondColumnCategories} />
    </div>
</section>

<style lang="scss" is:global>
    .hotel-services {
        @include adaptive(padding-top, 120, 60);
        @include adaptive(padding-bottom, 120, 60);

        h2 {
            @include desktop {
                text-align: left;
            }
        }
    }
</style>
