---
import temp from '@/assets/images/tourvisor/tour-search-temp.jpg'
---

<section class="tour-search-form-section">
    <img src={temp.src} alt="" />
</section>

<style lang="scss" is:global>
    .tour-search-form-section {

    }
</style>
