// src/styles/variables.scss

$default-width: 1920;
$mobile-width: 480;

$color-main: #FFFDF8;
$color-alternate: #00273F;

$color-accent: #CCA870;

$color-globus-cream: $color-main;
$color-globus-blue: $color-alternate;
$color-globus-sand: $color-accent;
$color-globus-light-blue: #667C89;
$color-globus-grey: #969696;