---

---

<section class="concierge-service-text-section">
    <div class="section-container">
        <div class="divider"></div>

        <h2>
            Каждый наш партнёр —<br />
            это знак качества и надёжности.
        </h2>

        <div class="section-content">
            <p>
                Каждое впечатление — это штрих к вашей личной картине путешествия.
            </p>
            <p>
                Наше главное отличие — премиальный сервис: персональный подход, внимание к каждой
                детали и забота о вашем времени.<br />
                Мы стремимся превзойти ожидания, превращая путешествие в коллекцию идеальных моментов.
            </p>
            <p>Ведь истинная роскошь — не в вещах, а в моменте.</p>
        </div>

        <h4>Искусство открывать мир мы превращаем в вашу реальность.</h4>
    </div>
</section>

<style lang="scss" is:global>
    .concierge-service-text-section {
        @include adaptive(margin-top, 60, 30);

        .section-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            @include adaptive(font-size, 60, 40);
            @include adaptive(margin-top, 60, 30);

            @include mobile {
                text-align: left;
            }
        }

        .section-content {
            @include adaptive(margin-top, 60, 30);
            display: flex;
            flex-direction: column;

            p {
                @include adaptive(margin-bottom, 12, 10);

                &:last-child {
                    margin-bottom: 0;
                }

                @include desktop {
                    text-align: center;
                }
            }
        }

        h4 {
            @include font-kudry-sans;
            color: var(--color-globus-blue);
            @include adaptive(font-size, 28, 24);
            text-transform: uppercase;
            @include adaptive(margin-top, 60, 30);

            @include desktop {
                text-align: center;
            }
        }
    }
</style>
