---
import { Image } from 'astro:assets'
import InfoGrid from '@/components/InfoGrid.astro'
import photo1 from '@/assets/images/concierge_service/concierge-service-photo-1.jpg'
import photo2 from '@/assets/images/concierge_service/concierge-service-photo-2.jpg'

const services = [
    'Утончённые отели и виллы в самых живописных уголках планеты',
    'Яхты и вертолёты для особенных перелётов',
    'Концерты и события мирового уровня',
    'Путешествия на люксовых поездах',
    'Гастрономические открытия в лучших ресторанах мира',
]
---

<InfoGrid>
    <div class="info-grid-row">
        <div class="info-text _pos-1">
            <p>
                Путешествия — это не просто дороги и города. Это искусство открывать мир в
                его красоте, вдохновении и неповторимых деталях.
            </p>
        </div>

        <div class="info-image">
            <Image src={photo1} alt="Консьерж-сервис" />
        </div>
    </div>
    <div class="info-grid-row">
        <div class="info-image _pos-1">
            <Image src={photo2} alt="Люксовые путешествия" />
        </div>

        <div class="info-text">
            <p>Мы создаём маршруты, в которых всё продумано до мелочей:</p>
            <ul class="service-list">
                {
                    services.map((service) => (
                        <li class="service-list-item">
                            <span class="bullet" />
                            <span class="service-list-text">{service}</span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</InfoGrid>
