---
// src/components/main/AboutUs.astro
import { Image } from 'astro:assets'
import teamImage from '@/assets/images/main/team.jpg'
import AdvantagesGrid from './AdvantagesGrid.astro'
---

<section class="about-us">
    <div class="section-container">
        <h2>
            ваш идеальный отдых <br />
            начинается здесь!
        </h2>

        <div class="about-content">
            <div class="about-item">
                <div class="about-item-content">
                    <h3>30 лет</h3>
                    <p>
                        мы создаём путешествия мечты, и дарим возможность открывать мир с комфортом
                        и удовольствием
                    </p>
                    <br />
                    <p>
                        Как самый крупный туроператор Сибири, мы знаем, что важно для вас:
                        безупречный сервис, внимание к деталям и полная уверенность в своём отдыхе
                    </p>
                </div>
            </div>

            <div class="about-item">
                <div class="card-image">
                    <Image src={teamImage} alt="Команда Глобус Тур" loading="lazy" quality={100} />
                </div>
            </div>

            <div class="about-item">
                <div class="about-item-content">
                    <h3>Более 500 000</h3>
                    <p>
                        счастливых туристов доверили нам свои впечатления – и мы сделали их
                        путешествия по‑настоящему незабываемыми
                    </p>
                </div>
                <br />
                <a href="#" class="button _sized">Подробнее о нас</a>
            </div>
        </div>

        <AdvantagesGrid />
    </div>
</section>

<style lang="scss" is:global>
    .about-us {
        @include adaptive(margin-top, 120, 60);

        .section-container {
            @include flex-center;
            flex-direction: column;
            @include adaptive(gap, 64, 40);
        }

        .about-content {
            position: relative;
            width: 100%;
            @include flex-start-center;
            @include adaptive(gap, 70, 0);
            flex-flow: wrap;

            @include mobile {
                flex-direction: column;
            }
        }

        .about-item {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 10, 10);
            @include adaptive(flex, 30%, 100%);
            @include adaptive(width, auto, 100%);
            @include adaptive(max-width, 31%, 100%);

            &:nth-child(1) {
                @include mobile {
                    order: 2;
                }

                .about-item-content {
                    @include mobile {
                        padding-right: 16%;
                    }
                }
            }
            &:nth-child(2) {
                @include mobile {
                    order: 1;
                }
            }
            &:nth-child(3) {
                @include mobile {
                    order: 3;
                }

                .about-item-content {
                    @include mobile {
                        padding-left: 33%;
                    }
                }
            }
        }

        .about-item-content {
            position: relative;
            width: 100%;

            h3 {
                @include adaptive(font-size, 60, 38);
                @include adaptive(margin-top, 48, 36);
            }

            p {
                @include adaptive(font-size, 20, 18);
                width: 90%;
            }
        }

        .card-image {
            align-self: center;
            @include adaptive(height, 359, 231);
        }

        .button {
            @include adaptive(width, 300, 100%);
        }
    }
</style>
