---
const coverageItems = [
    {
        title: 'Лечение и диагностика',
        description: 'Амбулаторно и в стационаре, процедуры по назначению врача',
    },
    {
        title: 'Экстренная стоматология',
        description: 'Осмотр, лечение и лекарства при воспалении зуба или дёсен',
    },
    {
        title: 'Экстренная госпитализация',
        description: 'Амбулаторно и в стационаре, процедуры по назначению врача',
    },
    {
        title: 'Лекарства',
        description: 'Медикаменты по рецепту, средства перевязки и фиксации',
    },
    {
        title: 'Расходы на обратную дорогу',
        description: 'При задержке за границей из-за страхового случая',
    },
    {
        title: 'Возврат домой для лечения',
        description: 'Если за границей оно невозможно или превышает сумму покрытия',
    },
]
---

<section class="insurance-coverage-section _dark">
    <div class="section-container">
        <h2>Что входит в полис</h2>

        <ul>
            {
                coverageItems.map((item) => (
                    <li>
                        <h3>{item.title}</h3>
                        <p>{item.description}</p>
                    </li>
                ))
            }
        </ul>

        <div class="coverage-button-wrapper">
            <a href="#" class="button _sized">Скачать правила страхования</a>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .insurance-coverage-section {
        @include adaptive(padding-top, 70, 60);
        @include adaptive(padding-bottom, 70, 60);

        ul {
            @include adaptive(margin-top, 60, 40);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include adaptive(row-gap, 33, 30);
            @include adaptive(column-gap, 295, 30);

            @include mobile {
                grid-template-columns: 1fr;
            }

            li {
                display: flex;
                @include adaptive(gap, 10, 12);
                align-items: flex-start;
                flex-direction: column;

                h3 {
                    @include font-circe-regular;
                    @include adaptive(font-size, 26, 22);
                }

                p {
                    color: var(--color-globus-light-blue);
                    @include adaptive(font-size, 20, 18);
                }
            }
        }

        .coverage-button-wrapper {
            @include adaptive(margin-top, 60, 40);
            display: flex;
            justify-content: center;
        }
    }
</style>
