---

---

<section class="selfie-payment-section _dark">
    <div class="section-container">
        <h2>Как оплатить забронированный тур:</h2>

        <div class="selfie-payment-content">
            <div class="divider _desktop-hidden"></div>

            <div class="selfie-payment-important">
                <h3>Важно</h3>
                <p>
                    В связи с высокой волатильностью валют, стоимость в рублях по заявке в системе
                    ТОО «SelfieTravel (Селфи Трэвел)» меняется каждый день из-за конвертации валют.
                    Изначальная заявка будет заведена в валюте тура (USD) в сумме на момент
                    заведения.
                </p>
            </div>

            <div class="divider"></div>

            <div class="selfie-payment-steps">
                <div class="selfie-payment-step">
                    <h4>1</h4>
                    <div class="selfie-payment-step-content">
                        <p>
                            СУБАГЕНТ самостоятельно проверяет подтверждение заявки<br />
                            на сайте selfietravel.kz (b2b.selfietravel.kz). Вход по логину и паролю СУБАГЕНТА.
                        </p>
                    </div>
                </div>

                <div class="selfie-payment-step">
                    <h4>2</h4>
                    <div class="selfie-payment-step-content">
                        <div class="selfie-payment-step-text-block">
                            <p>
                                После подтверждения заявки необходимо запросить счёт по адресу:<br
                                />
                                oplatakaz@globus-tour.ru (Тема: № заявки). Актуальный счёт в рублях необходимо
                                запросить в день оплаты до 14:00 (НСК) и прислать подтверждение оплаты
                                до 16:00 (НСК) на oplatakaz@globus-tour.ru (Тема: № заявки, приложить
                                платёжное поручение с отметкой банка).
                            </p>
                            <p>
                                Внимание! Если подтверждение об оплате не выслано, оплата не будет
                                зачтена.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="selfie-payment-step">
                    <h4>3</h4>
                    <div class="selfie-payment-step-content">
                        <p>
                            СУБАГЕНТ обязан информировать туристов о том, что авиабилеты реализуются
                            на чартерные рейсы по невозвратному тарифу
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .selfie-payment-section {
        @include adaptive(margin-top, 120, 60);
        @include adaptive(padding-top, 80, 60);
        @include adaptive(padding-bottom, 80, 60);

        h2 {
            @include adaptive(margin-bottom, 74, 50);
        }

        .selfie-payment-content {
            display: flex;
            @include adaptive(gap, 87, 40);
            align-items: flex-start;

            @include mobile {
                flex-direction: column;
            }
        }

        .selfie-payment-important {
            @include adaptive(width, 459, 100%);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 28, 20);

            h3 {
                @include adaptive(font-size, 60, 38);
                color: var(--color-globus-sand);

                @include mobile {
                    text-align: center;
                }
            }

            p {
                margin: 0 auto;

                @include mobile {
                    text-align: center;
                    width: 80%;
                }
            }
        }

        .divider {
            @include adaptive(width, 1, 100%);
            @include adaptive(height, 503, 1);
            flex-shrink: 0;

            &._desktop-hidden {
                @include adaptive(display, none, block);
            }
        }

        .selfie-payment-steps {
            flex: 1;
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 52, 40);
        }

        .selfie-payment-step {
            display: flex;
            @include adaptive(gap, 56, 30);
            align-items: flex-start;

            h4 {
                @include font-kudry-sans;
                @include adaptive(font-size, 74, 60);
                color: var(--color-globus-sand);
                flex-shrink: 0;
            }
        }

        .selfie-payment-step-content {
            flex: 1;
            @include adaptive(padding-top, 5, 0);
        }

        .selfie-payment-step-text-block {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 20, 15);
        }
    }
</style>
