---
---

<section class="selfie-terms-section">
    <div class="section-container">
        <h2>
            Комиссия, условия оплаты и аннуляции тура:
        </h2>

        <div class="selfie-terms-conditions">
            <div class="selfie-terms-condition">
                <h4>Условия оплаты:</h4>
                <p>
                    Оплата 30% в течение 3-х дней после подтверждения заявки, остальная сумма минимум за 21 день до вылета. Особые условия оплаты в пиковые и высокие даты указаны в доп. соглашении.
                </p>
            </div>

            <div class="selfie-terms-condition">
                <h4>Условия аннуляции:</h4>
                <p>
                    За чартерные авиабилеты 100% штраф (возможна замена фамилий, согласованная заранее), отель аннулируется по условиям контракта.
                </p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="selfie-terms-commission-info">
            <p>
                С 01.09.2024 повышается комиссия на туры туроператора Selfie Travel<br />
                с вылетом из Екатеринбурга во Вьетнам, из Красноярска в Египет:<br />
                10% на все туры, кроме:
            </p>
            <ul>
                <li>7% на PROMO–туры,</li>
                <li>7% на туры Selfie Sale.</li>
                <li>Стоимость авиабилетов с вылетом из Екатеринбурга и Новосибирска — нетто (без комиссии)</li>
            </ul>
        </div>

        <h4>
            Предложение действует для заявок, заведенных с 01.09.2024.
        </h4>

        <div class="divider"></div>

        <h3>
            Комиссия по турам с вылетами через/из городов Казахстана составляет:
        </h3>

        <div class="selfie-terms-rates">
            <div class="selfie-terms-rates-column">
                <ul>
                    <li>8% стандартные туры</li>
                    <li>5% на наземное обслуживание</li>
                </ul>
            </div>

            <div class="selfie-terms-rates-column">
                <ul>
                    <li>5% туры со знаком PROMO, SELFIE SALE, BLACK FRIDAY</li>
                    <li>При бронировании только авибилетов — цена нетто +4% к цене</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .selfie-terms-section {
        @include adaptive(margin-top, 120, 60);

        h2 {
            @include adaptive(margin-bottom, 50, 30);
        }

        .selfie-terms-conditions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptive(column-gap, 80, 30);
            // @include adaptive(margin-bottom, 52, 30);

            @include mobile {
                grid-template-columns: 1fr;
                @include adaptive(row-gap, 30, 30);
            }
        }

        .selfie-terms-condition {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 14, 15);
        }

        h4 {
            @include font-circe-regular;
            @include adaptive(font-size, 24, 18);
            color: var(--color-globus-sand);
            text-transform: uppercase;
            @include adaptive(letter-spacing, 2.4, 2.4);
        }

        .divider {
            @include adaptive(margin-top, 40, 20);
            @include adaptive(margin-bottom, 40, 20);
        }

        .selfie-terms-commission-info {
            @include adaptive(margin-bottom, 35, 25);
            @include adaptive(max-width, 1187, 100%);

            p {
                @include adaptive(margin-bottom, 10, 10);
            }
        }

        h3 {
            color: var(--color-globus-blue);
            @include font-kudry-sans;
            @include adaptive(font-size, 32, 26);
            @include adaptive(margin-bottom, 50, 25);
        }

        .selfie-terms-rates {
            display: grid;
            grid-template-columns: max-content max-content;
            @include adaptive(column-gap, 40, 30);

            @include mobile {
                grid-template-columns: 1fr;
                @include adaptive(row-gap, 30, 30);
            }
        }

        .selfie-terms-rates-column {
            display: flex;
            flex-direction: column;
        }
    }
</style>
