---

---

<section class="selfie-insurance-section">
    <div class="section-container">
        <h2>Страхование:</h2>

        <p>
            В стоимость тура включена мед. страховка со страховым покрытие 30 000 USD<br />
            (с покрытием COVID-19 официально подтвержденным)
        </p>

        <div class="selfie-insurance-content">
            <div class="selfie-insurance-left">
                <h4>
                    При бронировании возможно добавить страховку:
                </h4>

                <ul>
                    <li>Добровольное страхование COVID-19 (по желанию) (3000 USD) +40 USD</li>
                    <li>
                        Или увеличить сумму страхового покрытия:<br />
                        Медицинская страховка (МСТ 50000 USD) (50000 USD) +15 USD
                    </li>
                </ul>
            </div>

            <div class="divider"></div>

            <div class="selfie-insurance-right">
                <p>
                    Оформить страховку от невыезда в ЛК Selfie Travel нельзя. Возможно оформить
                    страховку от невыезда компании "Ингосстрах",<br />
                    стоимость составит - 5% от стоимости тура. Страховка оформляется не позднее 7-ми дней
                    после подтверждения тура<br />
                    и не позднее 7-ми дней до даты заезда. Запрос на оформление страховки просим отправлять
                    на почту oplatakaz@globus-tour.ru<br />
                    (В теме письма указать "Оформление страховки от невыезда по заявке №_______")
                </p>
            </div>
        </div>

        <h3>Документы по туру:</h3>

        <p>
            Полный пакет полетных документов будет доступен за 4 дня до вылета.
        </p>
    </div>
</section>

<style lang="scss" is:global>
    .selfie-insurance-section {
        @include adaptive(margin-top, 120, 60);

        .section-container {
            > p {
                text-align: center;
                @include adaptive(max-width, 1187, 100%);
                margin: 0 auto;
                @include adaptive(margin-bottom, 60, 30);

                @include mobile {
                    width: 80%;
                }
            }
        }

        h2 {
            @include adaptive(margin-bottom, 20, 20);
        }

        .selfie-insurance-content {
            display: flex;
            @include adaptive(gap, 35, 30);
            align-items: flex-start;
            @include adaptive(margin-bottom, 0, 30);

            @include mobile {
                flex-direction: column;
            }
        }

        .selfie-insurance-left {
            flex-shrink: 0;
            @include adaptive(width, 833, 100%);
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 60, 20);
            @include adaptive(padding-top, 24, 0);
        }

        h4 {
            @include font-circe-regular;
            @include adaptive(font-size, 24, 18);
            color: var(--color-globus-sand);
            text-transform: uppercase;
            @include adaptive(letter-spacing, 2.4, 2.4);
        }

        .divider {
            @include adaptive(width, 1, 100%);
            @include adaptive(height, 289, 1);
            flex-shrink: 0;
        }

        .selfie-insurance-right {
            flex: 1;
            @include adaptive(padding-top, 24, 0);
        }

        h3 {
            @include adaptive(font-size, 32, 26);
            color: var(--color-globus-blue);
            text-transform: uppercase;
            text-align: center;
            @include adaptive(margin-top, 85, 50);
            @include adaptive(margin-bottom, 25, 20);
        }
    }
</style>
