---
import advantageIcon1 from '@/assets/icons/advantage-10.svg'
import advantageIcon2 from '@/assets/icons/advantage-11.svg'
import advantageIcon3 from '@/assets/icons/advantage-6.svg'
import advantageIcon4 from '@/assets/icons/advantage-3.svg'
---

<section class="selfie-travel-section">
    <div class="section-container">
        <h2>Как начать работать с ТОО Selfie Travel:</h2>

        <p>
            С целью оперативности и актуальности ценовых предложений бронирование осуществляется на
            сайте ТОО «SelfieTravel (Селфи Трэвел)»
            <a href="https://www.selfietravel.kz/">selfietravel.kz</a>
            (<a href="https://b2b.selfietravel.kz/cl_refer">b2b.selfietravel.kz/cl_refer</a>).
        </p>

        <div class="divider"></div>

        <h4>
            Для того, чтобы иметь возможность бронировать туры на сайте ТОО «SelfieTravel (Селфи
            Трэвел)»,<br />
            СУБАГЕНТУ необходимо:
        </h4>

        <div class="selfie-travel-grid">
            <div class="selfie-travel-item">
                <div class="selfie-travel-icon">
                    <img src={advantageIcon1.src} alt="" />
                </div>
                <div class="selfie-travel-content">
                    <p>
                        Иметь действующий договор<br />
                        с ООО ТА «Глобус-тур»
                    </p>
                </div>
            </div>

            <div class="selfie-travel-item">
                <div class="selfie-travel-icon">
                    <img src={advantageIcon2.src} alt="" />
                </div>
                <div class="selfie-travel-content">
                    <p>
                        На указанную при регистрации почту,<br />
                        в течение суток после получения скана доп соглашения, приходит логин и пароль
                        для бронирования<br />
                        туров в систему Selfie Travel. Посмотреть туры<br />
                        и проверить цены вы можете без получения<br />
                        логина и пароля.
                    </p>
                </div>
            </div>

            <div class="selfie-travel-item">
                <div class="selfie-travel-icon">
                    <img src={advantageIcon3.src} alt="" />
                </div>
                <div class="selfie-travel-content">
                    <div class="selfie-travel-text-block">
                        <p>
                            Для регистрации в Селфи Трэвел отправить<br />
                            на электронную почту <a href="mailto:kaz@globus-tour.ru"
                                >kaz@globus-tour.ru</a
                            ><br />
                            следующую информацию:
                        </p>
                        <ul>
                            <li>Название агентства</li>
                            <li>ИНН</li>
                            <li>Город</li>
                            <li>
                                ФИО, кто будет бронировать<br />(лучше выбрать одно, чтобы был один
                                пароль)
                            </li>
                            <li>Тел менеджера (только мобильный)</li>
                            <li>E-mail</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="selfie-travel-item">
                <div class="selfie-travel-icon">
                    <img src={advantageIcon4.src} alt="" />
                </div>
                <div class="selfie-travel-content">
                    <div class="selfie-travel-text-block">
                        <p>
                            Скачать дополнительное соглашение для бронирования туров из Казахстана
                            из вашего ЛК в ООО ТА «Глобус-тур». Найти вкладку "Данные агентства",
                            далее вкладка<br />
                            "Печать договора", тип договора: "Доп.соглашение<br />
                            (о бронировании туров из Казахстана)", нажимаете<br />
                            кнопку "Добавить", договор скачается.
                        </p>
                        <p>
                            Подписать и отправить скан на <a href="mailto:kaz@globus-tour.ru"
                                >kaz@globus-tour.ru</a
                            ><br />
                            (тема письма: агентство + ИНН). Оригинал необходимо отправить в течение 14
                            рабочих дней по адресу:<br />
                            630091, г. Новосибирск ул.Советская,64 оф.403.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .selfie-travel-section {
        @include adaptive(margin-top, 80, 40);

        .section-container {
            h2 {
                @include adaptive(margin-bottom, 20, 20);
            }

            > p {
                text-align: center;
                @include adaptive(max-width, 793, 100%);
                margin: 0 auto;
                @include adaptive(margin-bottom, 35, 30);
            }

            h4 {
                @include font-circe-regular;
                text-align: center;
                text-transform: uppercase;
                @include adaptive(max-width, 812, 100%);
                margin: 0 auto;
                @include adaptive(margin-bottom, 70, 50);
            }
        }

        .divider {
            @include adaptive(margin-bottom, 41, 30);
        }

        .selfie-travel-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptive(column-gap, 50, 30);
            @include adaptive(row-gap, 80, 30);

            @include mobile {
                grid-template-columns: 1fr;
            }
        }

        .selfie-travel-item {
            display: flex;
            @include adaptive(gap, 30, 20);
            align-items: flex-start;
        }

        .selfie-travel-icon {
            @include adaptive(width, 96, 70);
            @include adaptive(height, 96, 70);
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .selfie-travel-content {
            flex: 1;

            ul {
                @include adaptive(padding-left, 12, 6);
            }
        }

        .selfie-travel-text-block {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 20, 15);
        }
    }
</style>
