---
interface Props {
    title: string
    narrowContainer?: boolean
    dark?: boolean
}

const { title, narrowContainer = true, dark = false } = Astro.props
---

<section class:list={['accordion-section', { _dark: dark }]}>
    <div class:list={['section-container', { _narrow: narrowContainer }]}>
        <h2>{title}</h2>

        {
            Astro.slots.has('intro') && (
                <div class="accordion-section-intro">
                    <slot name="intro" />
                </div>
            )
        }

        <div class="accordion-section-content">
            <slot />
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .accordion-section {
        @include adaptive(margin-top, 40, 40);
        @include flex-center;

        .section-container {
            @include side-paddings;
            width: 100%;

            &._narrow {
                width: 85%;
            }

            @include mobile {
                width: 100% !important;
            }
        }

        h2 {
            @include desktop {
                width: 90%;
                margin: 0 auto;
            }
        }

        .accordion-section-intro {
            @include adaptive(margin-top, 78, 40);
            margin-left: auto;
            margin-right: auto;
            width: 80%;

            @include mobile {
                width: 100%;
            }

            p {
                @include adaptive(font-size, 20, 18);
            }

            ul {
                list-style: disc;
                @include adaptive(padding-left, 30, 24);
                gap: 0;
                width: 70%;

                @include mobile {
                    width: 100%;
                }

                li {
                    @include adaptive(font-size, 20, 18);
                    padding: 0;
                    @include adaptive(margin-top, 6, 6);
                    @include adaptive(margin-bottom, 6, 6);

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .accordion-section-content {
            @include adaptive(margin-top, 44, 22);
        }

        &._dark {
            @include adaptive(padding-top, 60, 30);
            @include adaptive(padding-bottom, 60, 30);
            @include adaptive(margin-top, 60, 30);

            h2 {
                color: var(--color-globus-sand);
            }
        }
    }
</style>
