---
// src/components/ContactCTA.astro
import telegramIcon from '@/assets/icons/telegram-accent.svg'
import phoneIcon from '@/assets/icons/phone-accent.svg'

interface Props {
    title?: string
    description?: string
}

const { title, description } = Astro.props
---

<section class="contact-cta">
    <div class="contact-cta-container">
        {title && (
            <h2 class="contact-cta-title" set:html={title} />
        )}

        {description && (
            <p class="contact-cta-description" set:html={description} />
        )}

        <div class="contact-cta-buttons">
            <a href="https://t.me/+79130637716" class="contact-btn-outline" target="_blank" rel="noopener noreferrer">
                <img src={telegramIcon.src} alt="Telegram" />
                <span>8 913 063 7716</span>
            </a>

            <a href="tel:+73832000500" class="contact-btn-outline">
                <img src={phoneIcon.src} alt="Телефон" />
                <span>8 (383) 2000-500</span>
            </a>

            <button type="button" class="contact-btn">Оставить заявку</button>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .contact-cta {
        background: $color-alternate;
        @include adaptive(margin-top, 90, 60);
        @include adaptive(padding-top, 90, 60);
        @include adaptive(padding-bottom, 90, 60);

        .contact-cta-container {
            @include side-paddings;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include adaptive(gap, 30, 30);
        }

        .contact-cta-title {
            color: $color-main;

            @include desktop {
                width: 90%;
            }
        }

        .contact-cta-description {
            @include font-circe-regular;
            font-weight: 300;
            @include adaptive(font-size, 26, 18);
            line-height: 1.2;
            color: $color-globus-light-blue;
            text-align: center;
            margin: 0;

            @include desktop {
                width: 58%;
            }
        }

        .contact-cta-buttons {
            @include flex-center;
            @include adaptive(column-gap, 192, 136);
            @include adaptive(row-gap, 0, 26);
            flex-wrap: wrap;
            @include adaptive(margin-top, 44, 20);

            @include mobile {
                flex-direction: column;
                width: 100%;
            }
        }

        .contact-btn {
            @include button-sized;
        }

        .contact-btn-outline {
            @include button-sized;
            @include button-outline;
            @include adaptive(font-size, 24, 18);
        }
    }
</style>
