---

---

<section class="info-grid-section">
    <div class="section-container">
        <div class="info-grid">
            <slot />
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .info-grid-section {
        @include adaptive(margin-top, 120, 60);

        .info-grid {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 80, 30);
        }

        .info-grid-row {
            display: flex;
            justify-content: space-between;
            @include adaptive(gap, 52, 30);

            @include mobile {
                flex-direction: column;
            }
        }

        .info-text {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 30, 30);
            margin-right: auto;
            @include adaptive(max-width, 33%, 100%);

            &._pos-1 {
                @include adaptive(margin-top, 28, 0);
            }

            @include mobile {
                order: 2;
            }

            ul {
                @include adaptive(gap, 21, 18);

                li {
                    display: flex;
                    @include adaptive(gap, 10, 10);
                }
            }
        }

        .info-image {
            overflow: hidden;
            @include adaptive(height, auto, 231);
            @include adaptive(max-width, 59%, 100%);
            flex-shrink: 0;

            img {
                width: 100%;
                @include adaptive(height, auto, 100%);
                object-fit: cover;
                object-position: center;
            }

            &._pos-1 {
                @include adaptive(margin-top, -264, 0);
            }

            &._size-1 {
                @include adaptive(min-width, 1003, 100%);
            }

            &._size-2 {
                @include adaptive(min-width, 665, 100%);
            }

            @include mobile {
                order: 1;
            }
        }
    }
</style>
