---
interface BulletItem {
    text: string
}

interface Column {
    title: string
    items: BulletItem[]
}

interface Props {
    columns: [Column, Column]
    dark?: boolean
    showDivider?: boolean
    centerTitle?: boolean
}

const { columns, dark = true, showDivider = true, centerTitle = false } = Astro.props
---

<section
    class:list={[
        'two-column-bullet-list-section',
        { _dark: dark, '_no-divider': !showDivider, '_center-title': centerTitle },
    ]}
>
    <div class="section-container">
        <div class="columns-grid">
            {
                columns.map((column) => (
                    <div class="column">
                        <h3>{column.title}</h3>
                        <ul>
                            {column.items.map((item) => (
                                <li set:html={item.text} />
                            ))}
                        </ul>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .two-column-bullet-list-section {
        @include adaptive(padding-top, 85, 60);
        @include adaptive(padding-bottom, 85, 60);

        &._dark {
            @include adaptive(margin-top, 120, 60);
        }

        .columns-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptive(gap, 220, 45);
            position: relative;

            @include mobile {
                grid-template-columns: 1fr;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 100%;
                background-color: var(--color-globus-sand);

                @include mobile {
                    display: none;
                }
            }
        }

        .column {
            display: flex;
            flex-direction: column;
            @include adaptive(gap, 32, 24);

            &::after {
                content: '';
                display: none;

                @include mobile {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: var(--color-globus-sand);
                    @include adaptive(margin-top, 0, 15);
                }
            }

            &:last-child::after {
                display: none;
            }
        }

        h3 {
            @include adaptive(font-size, 28, 26);
            color: var(--color-globus-blue);
        }

        &._dark h3 {
            color: var(--color-globus-sand);
        }

        ul {
            @include adaptive(gap, 25, 20);

            li {
                @include adaptive(font-size, 26, 20);
            }
        }

        &._no-divider {
            .columns-grid::before {
                display: none;
            }

            .column::after {
                display: none !important;
            }
        }

        &._center-title {
            h3 {
                text-align: center;
            }
        }
    }
</style>
