---

---

<section class="country-rules-section">
    <div class="section-container">
        <h2>Правила въезда</h2>
        <div class="country-rules-content">
            <p>
                Греция отменила COVID-ограничения. Для въезда в страну больше не требуется
                предъявлять сертификат о вакцинации, заполнять анкету PLF, ПЦР-тест до вылета и
                экспресс-тест по прилёте также отменены.
            </p>
            <p>
                Для посещения Греции гражданам РФ нужна <a
                    href="https://agency.globus-tour.ru/agencies/strany/greciya/viza-v-greciyu"
                    target="_blank"
                    rel="noopener noreferrer">виза</a
                >.
            </p>
            <p>
                Срок действия загранпаспорта должен быть не менее 3 месяцев со дня возвращения из
                поездки.
            </p>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .country-rules-section {
        @include adaptive(margin-top, 120, 60);

        h2 {
            @include adaptive(font-size, 60, 38);
            @include adaptive(margin-bottom, 41, 30);
            text-align: left;
        }

        .country-rules-content {
            @include adaptive(max-width, 1187, 100%);

            p {
                @include adaptive(margin-bottom, 20, 16);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
</style>
