---
import BulletList from '@/components/common/BulletList.astro'

const visaDocuments = [
    'Действующий загранпаспорт, действительный как минимум 3 месяца после окончания поездки оригинал + копии всех страниц с отметками (штампы, визы). Внимание! В паспорте должны быть как минимум 2 чистые страницы.',
    'Второй действующий загранпаспорт (Если есть) оригинал + копии всех страниц с отметками (штампы, визы).',
    'Аннулированный загранпаспорт (Если в нем есть шенгенские визы за последние 3 года) + копии всех страниц с отметками (штампы, визы)',
    'Две цветные фотографии, на белом фоне, без уголков, размером 3 × 5 мм, лицо должно занимать 70–80% фотографии. Фото должно быть не старше 6 месяцев и не использоваться на ранее выданных визах',
    'Копии всех страниц с отметками внутреннего паспорта (на подачу нужен оригинал)',
    'Справка с места работы на фирменном бланке предприятия с указанием должности, стажа и среднемесячной заработной платы. Срок действия справки — 1 месяц с момента получения.',
    '2-НДФЛ за последний отчётный период.',
    'Выписка из пенсионного и социального страхования за последние 10 лет',
    'Выписка о состоянии банковского счета с движением средств за последние 3 месяца (из расчёта 70 евро на человека в сутки). Справка действительна 1 месяц с момента получения;',
    'Документы по цели поездки:<br />по туризму: ваучер от отеля с подтверждением оплаты + авиабилеты — должен быть весь маршрут из России в Грецию и обратно;<br />по приглашению: приглашение от гражданина Греции + документ, подтверждающий личность приглашающего, выписка из налоговой приглашающего лица, при наличии подтверждение родства с приглашающим + авиабилеты — должен быть весь маршрут из России в Грецию и обратно',
    'Копии всех страниц с отметками внутреннего паспорта (на подачу нужен оригинал)',
    '<a href="https://docs.google.com/document/d/1ielwICBOAUOkQX-uK68dWVnLglYbKe8B/edit?usp=drive_link&ouid=116904030844060246952&rtpof=true&sd=true" target="_blank" rel="noopener noreferrer">Опросный лист</a> (Заполняется на русском языке)',
]
---

<BulletList
    title="Список документов на туристическую визу:"
    items={visaDocuments}
    dark={false}
    columns={2}
    titleSize="h3"
    compactGap={true}
/>
